<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		<!-- Axentix CSS minified version -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.css">

		{% block stylesheets %}			
		{% endblock %}

		{# MA FEUILLE DE FEUILLE DE STYLES CSS #}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">

	</head>
	<body>
		<header>
			<nav class="navbar shadow-1 primary">
				<a href=" {{ path('app_home') }} " class="navbar-brand">BLOG</a>
				<div class="navbar-menu ml-auto">
					<a class="navbar-link" href=" {{ path('app_home') }}">Accueil</a>
					<a class="navbar-link" href="#">Link 2</a>
					<a class="navbar-link" href="#">Link 3</a>
					<a class="navbar-link" href="#">Link 4</a>
				</div>
			</nav>
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>

		<footer class="footer primary mx-auto">
			<div class="footer fx-center dark-1">Copyright © 2022 - 					Mariam Ouédraogo</div>
		</footer>

		<!-- Axentix JS minified version -->
		<script src="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.js"></script>


		{% block javascripts %}
		{% endblock %}

        {# MON JAVASCRIPT #}
        <script src="{{ asset('js/script.js') }}"></script>

	</body>
</html>
